SECRET_KEY=your_secret_key
DEBUG=true
ALLOWED_HOSTS=127.0.0.1,example.com
DATABASE_ENGINE=postgresql

# === For Docker and settings ===
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=db_name
# === For settings ===
# schema must be created before executing migrates
POSTGRES_SCHEMA=public
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432

# === for email ===
EMAIL_HOST=EMAIL_HOST
EMAIL_PORT=EMAIL_PORT
EMAIL_HOST_USER=EMAIL_HOST_USER
EMAIL_HOST_PASSWORD=EMAIL_HOST_PASSWORD
EMAIL_USE_SSL=EMAIL_USE_SSL

# === celery ===
CELERY_BROKER_URL=redis://127.0.0.1:6379
CELERY_RESULT_BACKEND=redis://127.0.0.1:6379

# === for uploaded files by telegram bot ===
TELEGRAM_FILES=~/notes/telegram